# Intro
My data analysis will explore the trends in the Texas Lottery Prize Winners as of June 2023.
1. Row ID : number assigned to row
2. Claim Number : prize ID
3. Amount Won : amount won for cash prize or prize value for merchandise prize
4. Date Claim Paid : date prize received
5. Player ID : number assigned to claimant
6. Annuity Indicator : indicate whether annual payment process or lump sum
7. Anonymous Indicator : indicate whether anonymous or not
8. Claim Center Location : prize reception location
9. Claim Type : indicate whether individual entity or legal entity
10. US Citizen Flag : indicate whether US citizen or not
11. Last Name : claimant last name
12. First Name : claimant first name
13. Claimant Name and Player ID : claimant name & number assigned to claimant
14. Claimant City : city where claimant resides
15. Claimant State : state where claimant resides
16. Claimant County : county where claimant resides
17. Claimant Country : country where claimant resides
18. Prize or Merchandise Indicator : indicate whether prize or merchandise
19. Scratch Ticket or Draw Game : indicate whether scratch or draw
20. Date of Draw : draw date
21. Draw Time of Day : draw time
22. Prize Level : tier code
23. Date Ticket Sold : ticket sell date
24. Scratch Ticket Game Number : scratch ID 
25. Scratch Ticket Cost : scratch purchase price
26. Retailer Number : store ID
27. Retailer Name : store name
28. Retailer Number and Name : store ID and store name
29. Retailer Address 1 : store location
30. Retailer Address 2 : store location
31. Retailer City : city where store resides
32. Retailer State : state where store resides
33. Retailer Zip Code : 5 digit location ID
34. Retailer Zip Code +4 : 9 digit location ID
35. Retailer County : county where store resides

# Import
1. import library
2. top 3 rows

In [49]:
import numpy as np # Numerical Computation
import pandas as pd # Manipulation & Analysis
from matplotlib import pyplot as plt # Visuals
import warnings; warnings.filterwarnings("ignore") # Ignore Warnings

In [50]:
df = pd.read_csv("/Users/tgut03/Jupyter/Data/Texas Lottery Prize Winners.csv")
df.head(3)

,Row ID,Claim Number,Amount Won,Date Claim Paid,Player ID,Annuity Indicator,Anonymous Indicator,Claim Center Location,Claim Type,US Citizen Flag,...,Retailer Number,Retailer Name,Retailer Number and Name,Retailer Address 1,Retailer Address 2,Retailer City,Retailer State,Retailer Zip Code,Retailer Zip Code +4,Retailer County
0,I-22040583050-163900270,22040583050,30.0,06/06/2022,102314082,No,No,Austin Super User,Individual,Yes,...,188732.0,TRISTAR #10,188732 - TRISTAR #10,2041 S INTERSTATE 35,STE 104,San Marcos,TX,78666.0,NaN,Hays
1,I-22052612091-164618770,22052612091,20.0,06/06/2022,102314068,No,No,Austin Super User,Individual,Not Provided,...,190174.0,7 DAY CORNER STORE,190174 - 7 DAY CORNER STORE,3103 W MARTIN,NaN,San Antonio,TX,78207.0,NaN,Bexar
2,I-22052612091-164618772,22052612091,20.0,06/06/2022,102314068,No,No,Austin Super User,Individual,Not Provided,...,151047.0,FUEL STATION 4,151047 - FUEL STATION 4,2100 NW MILITARY HWY,NaN,Castle Hills,TX,78213.0,NaN,Bexar

# Process
1. data info

In [51]:
dfInfo = pd.DataFrame()
dfInfo["Type"] = df.dtypes
dfInfo["Non-Nulls"] = df.notnull().sum()
dfInfo["Nulls"] = df.isnull().sum()
dfInfo["% Nulls"] = df.isnull().sum() / len(df)
dfInfo["Uniques"] = df.nunique()
dfInfo

                                   Type  Non-Nulls    Nulls   % Nulls  Uniques
Row ID                           object    2526782        0  0.000000  2526782
Claim Number                      int64    2526782        0  0.000000  1709122
Amount Won                      float64    2526782        0  0.000000     8291
Date Claim Paid                  object    2526782        0  0.000000     7701
Player ID                         int64    2526782        0  0.000000   987213
Annuity Indicator                object    2526782        0  0.000000        2
Anonymous Indicator              object    2526782        0  0.000000        2
Claim Center Location            object    2526782        0  0.000000       18
Claim Type                       object    2526782        0  0.000000        2
US Citizen Flag                  object    2526782        0  0.000000        3
Last Name                        object    2526682      100  0.000040   130932
First Name                       object    2525874      908  0.000359    57595
Claimant Name and Player ID      object    2526782        0  0.000000   987213
Claimant City                    object    2526714       68  0.000027    14348
Claimant State                   object    2524835     1947  0.000771      103
Claimant County                  object    1510829  1015953  0.402074     1777
Claimant Country                 object    2524844     1938  0.000767       35
Prize or Merchandise Indicator   object    2526782        0  0.000000        2
Scratch Ticket or Draw Game      object    2526782        0  0.000000       12
Date of Draw                     object     916300  1610482  0.637365     9081
Draw Time of Day                 object    1051207  1475575  0.583974        5
Prize Level                      object    1051207  1475575  0.583974      128
Date Ticket Sold                 object     505084  2021698  0.800108     4527
Scratch Ticket Game Number      float64    1475575  1051207  0.416026     2055
Scratch Ticket Cost             float64    1475573  1051209  0.416027       11
Retailer Number                 float64    1499045  1027737  0.406738    58496
Retailer Name                    object    2526782        0  0.000000    45367
Retailer Number and Name         object    2526782        0  0.000000    58497
Retailer Address 1               object    1499045  1027737  0.406738    40390
Retailer Address 2               object       5593  2521189  0.997787      149
Retailer City                    object    1499045  1027737  0.406738     1363
Retailer State                   object    1499045  1027737  0.406738        1
Retailer Zip Code               float64    1499045  1027737  0.406738     1713
Retailer Zip Code +4            float64     145316  2381466  0.942490     2832
Retailer County                  object    1499045  1027737  0.406738      253

In [52]:
# Remove Variables
variables = ["Claim Number",
             "Date Claim Paid",
             "Player ID",
             "Claim Center Location",
             "Claimant Name and Player ID",
             "Scratch Ticket Game Number",
             "Retailer Address 2",
             "Scratch Ticket Game Number",
             "Retailer Number",
             "Retailer Number and Name",
             "Retailer Zip Code +4"]
df.drop(variables, axis = 1, inplace = True)

# Explore
1. Frequency

In [53]:
# Annuity Frequency
annuityFreq = df["Annuity Indicator"].value_counts()
annuityPer = df["Annuity Indicator"].value_counts() / len(df["Annuity Indicator"])
annuity = pd.concat([annuityFreq, annuityPer], axis = 1)
annuity

     Annuity Indicator  Annuity Indicator
No             2526256           0.999792
Yes                526           0.000208